*, *::after , *::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li {
  list-style-type: none;
}

/* ========================== Ipod component ======================== */

.ipod-container {
  width: 300px;
  height: 500px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 40px;
  align-items: center;
  background-color: #DDDDDD;
  box-shadow: 1px 1px 5px #c3c3c3;
}

/* ========================== Screen component ======================== */

.screen-container {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #666;
  border-radius: 10px;
}
.menu-list {
  flex: 2;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  color: #444;
}

.menu-list .list-item {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallpaper {
  width:100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

/* ========================== wheel component ======================== */

#wheel {
  width: 130px;
  height: 130px;
  padding: 30px;
  position: relative;
  border-radius: 50%;
  background-color: #FCFCFF;
}

.controls div {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.menu, .back, .start, .forward, .play-pause{
  inset: 0;
  top: 89px;
  color: #a3a39a;
}

.menu {
  top: 28px;
font-size: 0.95rem;
user-select: none;
left: 70px;
}

.back {
  left: 18px;
}

.start {
  top: 0;
  width: 60px !important;
  height: 60px !important;
  margin: auto;
  border-radius: 50%;
  background-color: #555;
}

.forward {
  left: 150px;
}

.play-pause {
  top: 150px;
  left: 85px;
}

.select {
  background-color: blueviolet;
  color: #fff;
}
